.find-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon I {
  font-size: 35px;
}

.find-icons__icon span {
  margin-top: 18px;
}

.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(---main-border);
  border-bottom: var(---main-border);
}

.recommended-frieds__title {
  font-size: 10pt;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 12pt;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-top: -8px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 6px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 16pt;
}

.open-post__hashtag {
  text-transform: uppercase;
  margin-bottom: 10px;

  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.open-post__member-status {
  color: tomato;
}

.open-post__column__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.open-post__heart-count span {
  margin-left: 2px;
  padding-right: 6px;
}

.open-post__column__photo {
  position: relative;
}
