#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -24px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.friends-screen {
  padding: 0px var(---horizontal-space);
}

#friends-display-link i {
  margin: 0px 5px;
  opacity: 0.3;
}

.friends-screen__channel__header__nobold {
  font-weight: 400;
}

.friends-screen__channel {
  margin-top: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}

.friends-screen__channel__header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hidesplashscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(---yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hidesplashscreen 2s ease-in-out forwards;
  animation-delay: 1s;
}
