.welcome-header {
  margin-top: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

.welcome-header__text {
  opacity: 0.7;
  width: 60%;
  margin-bottom: 40px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 20px 0px;
  margin: 6px 0px;
  font-size: 20px;
  border-radius: 5px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
}

#login-form input[value="Log in"] {
  background-color: var(---yellow);
  margin-top: 36px;
  font-weight: 600;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(---brown);
}

#login-form a {
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 12pt;
}
