.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: aliceblue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: 600;
}
