.status-bar {
  position: fixed;
  top: 0px;
  width: 100vw;
}

.nav__ul {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: rgb(243, 243, 243);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.nav__link {
  position: relative;
}

@keyframes notificationanimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  right: -7px;
  bottom: 15px;
  animation: notificationanimation 2s ease-in-out infinite;
}

.nav__point {
  background-color: tomato;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -6px;
  top: -12px;
}

@keyframes appearbtn {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  animation: appearbtn 1s ease-in-out forwards;
  transform: translateY(20px);
  opacity: 0;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav__btn:last-child {
  animation-delay: 0.8s;
}
