.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px var(---horizontal-space);
}

.screen-header__title {
  font-size: 24pt;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}
