.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 6px;
}

.status-bar__column:first-child span {
  margin: 0px 5px;
}

.status-bar__column:last-child {
  margin-right: 15px;
}
