.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__column,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__avator {
  width: 70px;
  height: 70px;
  border-radius: 24px;
  margin-right: 16px;
}

.user-component__title {
  font-size: 17pt;
  font-weight: 600;
}

.user-component__subtitle {
  font-size: 12pt;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 9px;
}

.user-component__avator__xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  margin-right: 16px;
}

.user-component__avator__sm {
  width: 60px;
  height: 60px;
  border-radius: 24px;
  margin-right: 16px;
}

.user-component__time {
  display: block;
  margin-bottom: 8px;
}
